<div class="row">
    <div class="col-md-6">
        <h3 style="text-align: center;">Why store Locator is suitable for your stores?</h3>
        <p style="text-align: center;">Save money and time</p>
        <p style="text-align: center;">Improve user&rsquo;s experience</p>
        <p style="text-align: center;">Increase traffic to the sites</p>
        <p style="text-align: center;">Easily identify the store</p>
    </div>
    <div class="col-md-6">
        <h3>The outstanding feature of Magento 2 store:</h3>
        <p>Show multiple store locations on a map.</p>
        <p>Displace the nearest offline stores automatically.</p>
        <p>Supply filters to find stored according to certain criteria.</p>
        <p>Display store information and images</p>
        <p>Add store locator map to any page of your website.</p>
        <p>Set up working hours and holidays for a store location</p>
    </div>
</div>

<ul>
    <li dir="ltr"></li>
</ul>
<div class="row">
    <div class="col-md-6"><img alt="refer friends" src="https://www.mage-world.com/media/wysiwyg/MIA/_1.PNG" /></div>
    <div class="col-md-6">
        <h3>Show multiple store locations on a map</h3>
        <p>Magento 2 store locator will allow you to set up and show an unlimited number of store locations by handy maps.</p>
        <p>Besides, update easily the information that you want the customer to know (ex: name, mail, address,...) and store locations to the map.</p>
        <p>Customers only need to type some letters in the Address box and are well recommended with all relevant suggestions for shop addresses.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-6"><img alt="MULTI LEVEL MARKETING" src="https://www.mage-world.com/media/wysiwyg/MIA/_5.PNG" /></div>
    <div class="col-md-6 col-md-pull-6">
        <h3>Display the nearest offline stores automatically</h3>
        <p>Wherever the customers are, they can easily locate themselves and the module will automatically show the nearest offline stores.</p>
        <p>-Customers are able to input the street and/or district and/or city where they wish to find nearby stores</p>
        <p>-Customers can choose to specify the radius of their search to narrow or broaden the results</p>
        <p>The typical feature of Mageplaza Store Locator is also integrated with Google Map which allows customers can select the convenient route and the suitable transport to the store.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6"><img alt="create programs unconditionally" src="https://www.mage-world.com/media/wysiwyg/MIA/_3.PNG" /></div>
    <div class="col-md-6">
        <h3>Display the information and images of the store</h3>
        <p>The main information of each store is shown clearly next to the map.</p>
        <p>The data can be the address, phone, website&hellip...;</p>
        <p>Magento 2 store locator also enables the user to add the available images into the screen from many angles. A nice view will stimulate the desire of customers to visit the store and help customers visualize the store easily.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-6"><img alt="MULTI LEVEL MARKETING" src="https://www.mage-world.com/media/wysiwyg/MIA/_4.PNG" /></div>
    <div class="col-md-6 col-md-pull-6">
        <h3>Set up working hours and holidays for a store location.</h3>
        <p>This feature brings the user a new experience.</p>
        <p>You can set the working mode to display right on the map and it allows put on &ldquo;Open&rdquo; during working hours and &ldquo;Close&rdquo; when the time is up.</p>
        <p>Furthermore, the user can also configure holidays and special days in the backend as well.</p>
        <p>More conveniently, manage location schedules in one handy grid.</p>
        <p>Create multiple schedules to fit different store types.</p>
        <p>Easily edit any schedule, adjust working hours for each day of the week.</p>
    </div>
</div>
<h3>Benefit from this magento 2 store locator</h3>
<p>It is a perfect solution that brings consumers closer to your store.</p>
<p>The utility and smart functions enable to perform operations on all devices.</p>
<p>This design help customers to identify store easily on the map and quickly make the decision.</p>
<h3>Easily control and manage your store</h3>
<p>Magento 2 Store Locator supplies you with access to the list of all offline points of sales.</p>
<p>Not only save your time and efforts editing your store locations right from the grid but also create as many attributes as you need to provide your customers with the opportunity to quickly find the best-suited store.</p>
<p>Quickly change location name, address, position or status.</p>
<p>Add a new store in few clicks.</p>