<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img class="payment-icon" src="/media/logo/payment/amexc.png"  alt="amex">
            <img class="payment-icon" src="/media/logo/payment/visa.png" alt="visa card">
            <img class="payment-icon" src="/media/logo/payment/mastercard.png" alt="master card">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div data-bind="attr: {id: getCode() + '-transparent-iframe-container'}" style="min-height: 500px; margin: 30px 0"></div>

        <iframe data-bind="src: getSource(), attr: {id: getCode() + '-transparent-iframe', 'data-container': getCode() + '-transparent-iframe'}"
                allowtransparency="true" frameborder="0" name="iframeTransparent"
                style="display:none;width:100%;background-color:transparent; min-height: 645px;"></iframe>
        <form class="form" id="co-transparent-form" autocomplete="off" action="#" method="post" data-bind="mageInit: {
                'CyberSource_SecureAcceptance/js/view/payment/method-renderer/hosted/transparent/iframe':{
                    'controller': getControllerName(),
                    'context': context(),
                    'gateway': getCode(),
                    'orderSaveUrl':getPlaceOrderUrl(),
                    'cgiUrl': getCgiUrl(),
                    'dateDelim': getDateDelim(),
                    'cardFieldsMap': getCardFieldsMap(),
                    'nativeAction': getSaveOrderUrl(),
                    'expireYearLength': getExpireYearLength()
                }, 'validation':[]}">
            <!-- ko if: (isVaultEnabled())-->
            <div class="fieldset">
                <div class="field choice">
                    <input type="checkbox"
                           name="vault[is_enabled]"
                           class="checkbox"
                           data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                    <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                        <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                    </label>
                </div>
            </div>
            <!-- /ko -->
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" id="review-buttons-container">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            css: {disabled: !isPlaceOrderActionAllowed()},
                            attr: {title: $t('Place Order')}
                        "
                        class="button action primary checkout">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
