[name*="shippingAddress.street.0"] .label {
  display: none;
}

.amcheckout-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.amcheckout-img {
  width: 35px;
}

.amcheckout-confirm-img {
  width: 20px;
}

.place-order-custom {
  padding: 14px 20px !important;
}
