<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
// $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
// $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product->getId());
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('More Information') ?></caption>
            <tbody>
			<?php
			$content = $_product->getData('nutrition_info');
			$om = \Magento\Framework\App\ObjectManager::getInstance();
			$result2 = $om->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($content);
			?>
			<tr>
			<th></th>
			<td class="col data"><?php echo $result2; ?></td>
			</tr>
            </tbody>
        </table>
    </div>
<?php endif;?>
<style>
    .paypal.checkout.before {
        display: none;
    }
</style>
