<!--
  ~ /**
  ~  Copyright © 2016 MW. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required email-field one-field">
            <div class="control _with-tooltip">
                <label class="label" for="customer-email">
                    <span data-bind="i18n: 'Email Address'"></span>
                    <em class='required-symbol'>*</em>
                </label>
                <div class="input-box">
                    <input class="input-text"
                           type="email"
                           data-bind="
                                textInput: email,
                                hasFocus: emailFocused,
                                afterRender:afterRenderEmail.bind($data),
                                event: {change: changeValue}
                                "
                           name="username"
                           data-validate="{required:true, 'validate-email':true}"
                           required
                           id="customer-email" />
                </div>
                <div for="customer-email" generated="true" class="mage-error" id="customer-email-error"></div>

                
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field required password-field one-field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <div class="input-box">
                        <input class="input-text"
                               data-bind="
                                attr: {
                                    placeholder: $t('optional'),
                                }"
                               type="password"
                               name="password"
                               id="customer-password"
                               data-validate="{required:true}" autocomplete="off"/>
                    </div>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button type="submit" class="action primary" data-action="checkout-method-login">
                        <span data-bind="i18n: 'Login'"></span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action remind" target="_blank" data-bind="attr:{href: forgotPasswordUrl}">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
