<?php
$helper = $block->getHelper();
$language = $helper->getLanguage();
?>
<?php if ($helper->isActive()) { ?>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
    <script type="text/javascript">
        window.renderBadge = function () {
            var ratingBadgeContainer = document.createElement("div");
            document.body.appendChild(ratingBadgeContainer);
            window.gapi.load('ratingbadge', function () {
                window.gapi.ratingbadge.render(ratingBadgeContainer, {
                    "merchant_id": <?php echo $helper->getMerchantId(); ?>,
                    "position": "<?php echo $helper->getPosition(); ?>"
                });
            });
        }
    </script>
    <?php if (isset($language) && $language != '') { ?>
        <script type="text/javascript">
            window.___gcfg = {
                lang: '<?php echo $language; ?>'
            };
        </script>
    <?php }?>

<?php } ?>
