<?php
$helper = $this->helper('Meetanshi\GoogleReviews\Helper\Data');
$language = $helper->getLanguage();
if ($helper->isSurveyActive()) {
    $orderId = $block->getOrderId();
    if (isset($orderId) && $orderId != '') {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('\Magento\Sales\Model\Order')->loadByIncrementId($orderId);

        $deliveryDate = date('Y-m-d', strtotime("+" . $helper->getEstDays() . " days"));

        if ($order->getCustomerId() === null) {
            $countryId = $order->getBillingAddress()->getCountryId();
            $customerEmail = $order->getBillingAddress()->getEmail();
        } else {
            $countryId = $order->getBillingAddress()->getCountryId();
            $customerEmail = $order->getCustomerEmail();
        }
        ?>
        <script type="text/javascript" src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
        <script type="text/javascript">
            window.renderOptIn = function () {
                window.gapi.load('surveyoptin', function () {
                    window.gapi.surveyoptin.render(
                        {
                            "merchant_id": "<?php echo $helper->getMerchantId(); ?>",
                            "order_id": "<?php echo $orderId; ?>",
                            "email": "<?php echo $customerEmail; ?>",
                            "delivery_country": "<?php echo $countryId; ?>",
                            "estimated_delivery_date": "<?php echo $deliveryDate; ?>",
                            "opt_in_style": "<?php echo $helper->getStyle(); ?>"
                        });
                });
            }
        </script>
        <?php if (isset($language) && $language != '') { ?>
            <script type="text/javascript">
                window.___gcfg = {
                    lang: '<?php echo $language; ?>'
                };
            </script>
        <?php } ?>
    <?php } ?>
<?php } ?>
