<!-- 
/**
 * @category   Webkul
 * @package    Webkul_AmazonMagentoConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<div class="wk-profile-alert">
    <p>
        <strong>
            <?php echo __('FBA : ') ?>
        </strong>
        <?php echo __(' FBA stand for fulfillment by Amazon, Created or updated magento product at amazon will be FBA product. ') ?>
    </p>
    <p>
        <strong>
        <?php echo __('FBM : ') ?>
        </strong>
        <?php echo __(' FBM stand for fulfillment by Merchant, Created or updated magento product at amazon will be FBM product. ') ?>
    </p>
</div>

