<!--
/**
 * @category   Webkul
 * @package    Webkul_AmazonMagentoConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */ 
-->
<?php
	$productCount = $block->getImportedProduct();
	$accountId = $block->getRequest()->getParam('id');
?>
<fieldset class="fieldset">
	<div class="wk-mu-note wk-mu-box">
		<?php echo __('Starting Execution'); ?>...
	</div>
	<div class="wk-mu-notice wk-mu-box">
		<?php echo __("Please don't close or refresh the window while importing product(s)."); ?>
	</div>
	<div class="wk-mu-success wk-mu-box">
		<?php echo __('Total '); ?><?php echo $productCount; ?><?php echo __(' product(s) to import'); ?>.
	</div>
	<?php if($productCount > 0): ?>
		<div class="wk-mu-info-bar">
			<?php __('Importing '); ?> <span class="wk-current">1</span> of <?php echo $productCount;?>
			<img id="loader-image" src="<?php echo $block->getViewFileUrl('Webkul_AmazonMagentoConnect::images/loader.gif') ?>" />
		</div>
		<div class="wk-mu-progress-bar">
			<div class="wk-mu-progress-bar-current"></div>
		</div>
		<div class="wk-mu-error-msg-container">
		</div>
	<?php else: ?>
		<div class="wk-mu-note wk-mu-box">
			<?php echo __('No product to import.'); ?>
		</div>
		<div class="wk-mu-note wk-mu-box">
			<?php echo __('Finished Execution.'); ?>
		</div>
	<?php endif; ?>
</fieldset>
<?php
	$releventData = [
		'importUrl' => $this->getUrl('amazonmagentoconnect/product/createproduct'),
		'fieldsetSelector'	=> '.fieldset',
		'progressBarSelector'	=> '.wk-mu-progress-bar-current',
		'infoBarSelector'	=> '.wk-mu-info-bar',
		'currentSelector'	=> '.wk-current',
		'productCount'		=> $productCount,
		'accountId'			=> $accountId
	];

	$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($releventData);

?>
<script type="text/x-magento-init">
    {
        "body":{
            "productProfiler":<?php echo $serializedData ?>
        }
    }
</script>