<?php
/* @var $block \MagePsycho\SalesPromotionPro\Block\Cart\Item\Renderer\Actions\FreeGiftIcon */
// @todo make Free Gift label dynamic
?>
<div class="action mp-free-gift-icon-div">
<img src="<?= $block->escapeUrl($block->getFreeGiftIcon()) ?>"
     width="<?= /* @noEscape */ $block->getGiftCartIconWidth() ?>"
     height="<?= /* @noEscape */ $block->getGiftCartIconHeight() ?>"
     alt="<?= $block->escapeHtml(__('Free Gift')) ?>"
     title="<?= $block->escapeHtml(__('Free Gift')) ?>"
     class="mp-free-gift-icon-img" />
</div>
