/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2020-06-17 12:32:37 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown, .minicart-wrapper .block-minicart, .product-item .tocart, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], .footer-middle .block.newsletter input, .footer-middle .block.newsletter .action.subscribe, .filter-options-title, .filter-options-item.active .filter-options-title, .filter-options-content, .filter-options-title:after, .toolbar select, .swatch-option, .pages .page, .pages .action, .fotorama__stage, .fotorama__nav--thumbs .fotorama__thumb, .fotorama__nav .fotorama__thumb-border, .input-text.qty, .qty.field .qty-changer > a, button, a.action.primary, textarea, .minicart-items .item-qty, .block-minicart .block-content > .actions > .secondary .action.viewcart, .cart.table-wrapper .product-image-container, .cart-summary, select, #discount-coupon-form #coupon_code, .abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .message, .box .box-title, .box .box-actions, .customer-welcome .header.links, .btn, .cms-index-index blockquote.testimonial, .recent-posts .item .post-image, .prev-next-products .product-nav .product-pop, #newsletter_popup, .product-label, .page-header.type11 .navigation li.level0.active, .page-header.type11 .navigation li.level0:hover, .filter .filter-current-subtitle, .filter-actions, .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2, .block-header-customer-login, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .moved-add-to-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .moved-add-to-links .action.mailto.friend, .product-social-links .action.towishlist, .product-addto-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist
{
    border-radius: 0;
}
.sw-megamenu.navigation li.level0.fullwidth:hover > .submenu, .sw-megamenu.navigation li.level0.staticwidth:hover > .submenu, .sw-megamenu.navigation li.level0.classic .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu, .sw-megamenu.navigation span.cat-label, .category-boxed-banner .owl-item .item, .iwd-summary-cart, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary {
    border-radius: 0 !important;
}
@media (min-width: 768px) {
    .block-search input, .page-header.type1 .navigation > ul, .navigation li.level0, .page-header.type1 .navigation li.level0.parent:hover, .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover, .page-header .navigation .level0 .submenu, .product.data.items > .item.title > .switch, .customer-welcome .header.links, .page-header.type5 .block-search input, .page-header.type5 .navigation .level0.parent:hover > .level-top, .page-header.type6 .block-search input, .page-header.type6 .navigation .level0:hover > .level-top, .page-header.type6 .navigation .level0.parent:hover > .level-top, .product.info.detailed.vertical .product.data.items > .item.title > .switch, .page-header.type5 .navigation .level0:hover > .level-top, .page-header.type11 .navigation li.level0.parent:hover
    {
        border-radius: 0;
    }
}
@media (min-width: 640px) {
    .modes-mode
    {
        border-radius: 0;
    }
}
.product-item-photo {
    border-radius: 0;
    border: 0;
    padding: 0;
}
.product-image-photo.hover_image {
    padding: 0;
    border-radius: 0;
}

.page-header.type18 .block-search input::-webkit-input-placeholder {
    color: #8a8a8a !important;
}
.page-header.type18 .block-search input:-moz-placeholder {
    color: #8a8a8a !important;
}
.page-header.type18 .block-search input::-moz-placeholder {
    color: #8a8a8a !important;
}
.page-header.type18 .block-search input:-ms-input-placeholder {
    color: #8a8a8a !important;
}
.filterproduct-title {
    background: none;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 700;
    padding-bottom: 7px;
}
.filterproduct-title .content {
    background-color: transparent;
}
.parallax-container .parallax-content > .container {
    position: relative;
}
.parallax-container .content {
    position: absolute;
    top:-28px;
    left:15px;
    z-index: 3;
    background-color: #0e0e0e;
    padding: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    min-width: 307px;
}
.parallax-container .content h2 {
    font-family: 'Oswald';
    font-size:48px;
    font-weight:300;
    color:#fff;
    margin-bottom: 28px;
}
.parallax-container .content em {
    font-size:17px;
    font-weight:400;
    font-style:normal;
    color:#fff;
    letter-spacing: 0.05em;
    display:block;
    padding-bottom: 6px;
    padding-top: 8px;
}
.parallax-container .content .btn-default{
    font-family: 'Oswald';
    border: solid 2px #2c2c2c;
    background-color:#0e0e0e;
    padding: 9px 19px;
    font-size: 14px;
    letter-spacing:0.05em;
    border-radius:2px;
    box-shadow: none;
    font-weight: 400;
    margin-bottom: 25px;
    color:#fff;
}
.products.wrapper .product-items.masonry-grid {
    margin: 0 -1.5px;
}
.masonry-grid .grid {
    width: 20%;
    float: left;
    padding: 0 1.5px;
}
.masonry-grid .grid.double{
    width: 39.9%;
}
.products.wrapper .masonry-grid .item {
    padding: 1.5px 0;
    position: relative;
    width: 100%;
}

.page-wrapper >.breadcrumbs {
    padding: 5px 0 5px;
    margin-bottom: -20px;
}
.breadcrumbs li {
    line-height: 30px;
    display: inline-block;
}
.page-wrapper > .breadcrumbs .items {
    padding: 5px 15px 5px;
}
.breadcrumbs li.home a {
    width: 15px;
    display: inline-block;
    text-indent: 30px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    position: relative;
}
.breadcrumbs li.home a:after {
    content: "\e883";
    font-family: 'porto-icons';
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}
.sidebar.sidebar-main {
    position: relative;
    right: 10px;
    border: solid 1px #eee;
    border-radius: 2px;
}
.block-category-list .block-title,.filter-options-title,.filter .filter-current-subtitle {
    font-family: 'Oswald';
    border: none;
    background-color: transparent;
    padding: 16px 20px 4px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    letter-spacing: 0.01em;
}
.block-category-list .block-title {
    padding: 30px 20px 0 20px;
}
.block-category-list .block-title strong {
    font-weight: 400;
}
.block-category-list .block-content,.filter-options-content {
    border: none;
    background-color: transparent;
    padding: 10px 18px 26px 20px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    border-radius: 0;
}
.filter-current .items {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.filter-current .item {
    padding-left: 20px;
}
.filter-current .action.remove {
    right: 20px;
    color: #21293c;
}
.filter-actions {
    border: none;
    background-color: transparent;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}
.filter-actions a {
    color: #858585;
}
.filter-options-title:after {
    content: '\f803';
    border: none;
    color: #21293c;
    font-size: 17px;
    margin-top: -6px;
}
.filter-options-title:hover:after {
    background: none;
    color: #21293c;
}
.active > .filter-options-title:after {
    content: '\f800';
}
#ln_slider_price.ui-slider-horizontal {
    height: 3px;
    box-shadow: none;
    background: #050203;
}
#ln_slider_price .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.sidebar-title {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: 400;
    color: #111;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}
.porto-icon-left-open-huge:before {
    content: '\f802';
    color: #21293c;
}
.porto-icon-right-open-huge:before {
    content: '\f801';
    color: #21293c;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls {
    top: -40px;
    right: -7px;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls .owl-nav div *:before {
    color:#21293c;
}
.sidebar .product-items .product-item-info .product-item-photo {
    max-width: 25.19%;
}
.sidebar .product-items .product-item-details {
    margin-left: calc(26% + 15px);
}
.sidebar .product-items .product-item-name a {
    font-size: 12px;
    color: #5b5b5f;
    font-weight: 400;
}
.sidebar .sidebar-filterproducts {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: none;
    border-bottom: #efefef solid 1px;
}
.sidebar .product-items .product-item .product-reviews-summary {
    display: block;
    margin-top: 0;
}
.sidebar-filterproducts.custom-block + h2 {
    font-family: 'Oswald';
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    color: #111 !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5 {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p {
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar .custom-block {
    padding: 0 20px;
}
.category-boxed-banner.owl-theme .owl-controls {
    bottom: 0;
}
.page-products .toolbar .limiter {
    display: block;
}
.page-with-filter .toolbar-amount {
    display: none;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.page-products .toolbar .limiter .limiter-text {
    display: none;
}
.modes-mode.active {
    border: none;
    background: none;
    color: #111;
}
.modes-mode,.modes-mode:hover {
    border: none;
    background: none;
    color: #111;
    width: 15px;
}
.toolbar select {
    border: 1px solid #e4e4e4;
    height: 37px;
    color: #7a7d82;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10px;
    padding-right: 30px;
    line-height: 31px;
}
.toolbar-sorter .sorter-action {
    margin-top: 6px;
    color: #21293c;
}
.toolbar-sorter .sorter-action:before {
    color: #21293c;
}
.pages a.page,.pages strong.page,.pages .action {
    width: 37px;
    line-height: 35px;
    background-color: transparent;
    color: #706f6c;
    font-size: 15px;
    font-weight: 600;
}
.pages a.page:hover,.pages .action:hover, .pages .action.next:hover:before, .pages .action.prev:hover:before {
    background-color: transparent;
    color: #706f6c;
}
.products-grid + .toolbar.toolbar-products {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}

.products-grid .product-item-actions .tocart {
    display: block;
}
.product-item-photo {
    overflow: visible;
}
.product-item-photo>a:not(.weltpixel-quickview):after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
}
.products-grid .product-item .product-item-info:hover .product-item-photo>a:not(.weltpixel-quickview):after {
    visibility: visible;
    opacity: 0.2;
}
.product-item-photo .product-item-inner .product-item-actions > .action {
    visibility: visible !important;
    opacity: 1 !important;
    position: static;
    border: 0;
    background-color: transparent;
    color: #dfdfdf;
}
.products-grid .product-item .product-item-inner {
    position: initial;
    left: auto;
    right: 20%;
    /* top: 25px; */
    /*margin-left: 20%; */
    visibility: visible;
    opacity: 1;
}
.products-grid .masonry-grid .product-item .product-item-inner {
    right: 30px;
    top: 17px;
}
.products-grid .product-item-actions {
    margin: 0;
}
.products-grid .product-item .swatch-attribute-options {
    margin: 0;
}
.products-grid .product-item .product-item-details {
/*     text-align: left; */
    position: relative !important;
    padding-top: 30px;
}
.products-grid .product-item .product-item-details .product-item-name {
    /* padding-right: 30px; */
}
.products-grid .masonry-grid .product-item .product-item-details, .products-grid .masonry-grid .product-item-actions {
    display: none;
}
.products-grid .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: 0;
    visibility: visible;
    opacity: 1;
}
.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist {
    border: none;
}
.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist:before {
    font-size: 20px;
}
.products-grid .masonry-grid .grid.double .item .product-item-details {
    display: block;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 27px;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s;
}
.products-grid .masonry-grid .grid.double .item:hover .product-item-details{
    visibility: visible;
    opacity: 1;
}
.products-grid .masonry-grid .grid.double .item:hover .product-item-actions {
    display: block;
}
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 {
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    font-family: "Oswald";
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 17px;
    margin-left: -45px;
    margin-top: -25px;
    text-decoration: none;
    transition: none;
}
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 .porto-icon-eye {
    display: none;
}
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2:hover {
    opacity: 0.8;
}
.product-item-photo .product-item-inner .product-item-actions > .action:hover {
    color: #000;
}
.product.name a {
    letter-spacing: 0.025em;
    color: #4a5157;
    font-size: 14px;
}
.products-related .price-box .price,
.side-list .price-box .price,
.small-list .price-box .price {
    font-size: 15px;
}
.products-related .old-price .price,
.side-list .old-price .price,
.small-list .old-price .price {
    font-size: 12px;
}
.price-container .price {
    font-family: "Oswald";
    font-weight: 400;
    color: #000;
    font-size: 18px;
}
.old-price {
    margin-right: 10px;
    margin-left: 10px;
}
.old-price .price {
    font-size: 18px;
    color: #6e6e6e
}
.product-items .swatch-option {
    min-width: 20px;
    height: 20px;
}
.swatch-option.text {
    padding: 0 3px;
}

.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
    background: none;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #333;
    border: none;
    font-size: 40px;
    float: left;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.related {
    padding: 0 20px;
}
.block .title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.related .product-items .product-item-actions {
    display: none;
}
.product-info-main .page-title-wrapper h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 3px 0 8px;
}
.weltpixel-quickview-catalog-product-view .top-block-header {
    display: none;
}
.prev-next-products a {
    color: #555;
}
.product-reviews-summary .reviews-actions a {
    line-height: 20px;
    font-size: 14px;
    color: #21293c;
}
.product-info-main .product-info-stock-sku {
    color: #21293c;
    font-size: 14px;
    padding-bottom: 23px;
}
.product-info-main .product.overview {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border-bottom: solid 1px #dae2e6;
    padding-bottom: 10px;
}
.product.media {
    padding-right: 12px;
}
.fotorama__stage__shaft {
    border: none;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border-color: #dae2e6;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-family: 'Oswald';
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.005em;
}
.product-info-main .product-info-price .old-price .price-wrapper .price {
    font-size: 16px;
    color: #2b2b2d;
    font-weight: 400;
}
.product-info-main .fieldset > .field.qty, .product-info-main .nested.options-list > .field.qty {
    position: relative;
    width: 106px;
}
.product-info-main .qty.field .control, .product-info-main .qty.field .qty-changer {
    margin-left: 29px;
}
.product-info-main .qty.field .qty-changer > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 43px;
    width: 30px;
    line-height: 41px;
    text-align: center;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a:first-child {
    left: auto;
    right: 4px;
}
.product-info-main .box-tocart .input-text.qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #61605a;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a .porto-icon-up-dir:before {
    content: '\f882';
}
.product-info-main .qty.field .qty-changer > a .porto-icon-down-dir:before {
    content: '\f883';
}
.catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart {
    height: 43px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.box-tocart .action.tocart:before {
    content: '\f881';
    font-family: 'porto-icons';
    margin-right: 7px;
    font-size: 21px;
}
.action.primary,.action.primary:active {
    font-family: "Oswald";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-addto-links .action.towishlist,.product-addto-links .action.tocompare,.product-social-links .action.mailto.friend {
    width: 43px;
    height: 43px;
    line-height: 41px;
    color: #302e2a;
}
.product.data.items > .item.content {
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-top: #dae2e6 solid 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.main-upsell-product-detail .block.upsell .title strong {
    background: none;
}
.block.upsell .title {
    background: none;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
}
.block.upsell .title strong {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald';
    color: #302e2a;
}
.review-ratings .rating-label {
    display: block;
}

.footer-top {
    text-align: left;
    padding: 15px 0 0;
}
.footer-top .footer-top-inner{
    border-bottom: 1px solid #2c2c2c;
}
.footer-top .block .block-title {
    margin-bottom: 13px;
    padding-top: 25px;
}
.footer-top .block .block-title strong {
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #fff;
}
.footer-container .validation-advice {
    position: absolute;
}
.footer-top .block.newsletter {
    width: auto;
    max-width: 400px;
    display: inline-block;
}
.footer-top .block.newsletter .control:before {
    line-height: 48px;
    margin-left: 20px;
}
.footer-top .block.newsletter .control {
    position: relative;
}
.footer-top .block.newsletter .control input {
    background-color: #2c2c2c;
    color: #6b7074;
    height: 48px;
    border: none;
    font-size: 14px;
    border-radius: 0;
    padding-left: 40px;
}
.footer-top .block.newsletter .control div.mage-error {
    position: absolute;
    bottom: -22px;
}
.footer-top .block.newsletter .actions button {
    height: 48px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0 22px;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    border-left-color: #3b3b3b;
    margin-left: 0;
    font-family: Arial;
    letter-spacing: 0;
}
.footer-top .block-content {
    display: inline-block;
    vertical-align: middle;
}
.footer .social-icons {float: left}
.footer-top .social-icons a {
    background-image: none;
    background-color: #33332f;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 18.6px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-left: 0;
    margin-right: 4px;
    float: left;
    line-height: 46px;
}
.footer-middle {
    padding:24px 0;
}
.footer-middle .block .block-title {
    margin-bottom: 10px;
}
.footer-middle .block .block-title strong {
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
.footer-middle ul.links li,
.footer-middle ul.features li {
    padding: 6px 0;
}
.footer-middle .contact-info li:first-child{
    border-top-width: 0;
}
.footer-middle .contact-info li {
    padding: 12px 0;
}
.footer-middle .contact-info i {
    color: #e1ddc3 !important;
    font-size: 26px;
    line-height: 28px;
}
.footer-middle .contact-info p{
    line-height: 1;
}
.footer-middle .contact-info b {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
    display: inline-block;
}
.footer-middle .block-bottom {
    border-top: 1px solid #2c2c2c;
    text-align: left;
    padding: 27px 0;
    overflow: hidden;
    margin-top: 32px;
}
.footer-middle .working span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.005em;
    line-height: 18px;
}
.footer-middle .working span b {
    text-transform: capitalize;
    color: #a8a8a8;
}
.footer .block-bottom address {
    padding: 9px 0;
}
@media (max-width: 1199px) {
    .footer .block-bottom address, .footer .block-bottom .working, .footer .block-bottom .custom-block {
        margin-bottom: 15px;
        padding: 0;
    }
}
@media (max-width: 991px) {
    .masonry-grid .grid {
        width: 50%;
    }
    .masonry-grid .grid.double {
        width: 100%;
    }
    .masonry-grid .grid:last-child {
        width: 100%;
    }
    .masonry-grid .grid:last-child .item {
        width: 50%;
        float: left;
        padding: 1.5px;
    }
}
@media (max-width: 767px) {
    .top-block-header .col-md-3 {
        text-align: left !important;
    }
    .sidebar.sidebar-main {
        position: static;
    }
    .product.data.items {
        margin: 0;
    }
    .prev-next-products .product-nav.product-next .product-pop {
        margin: 0;
    }
    .prev-next-products .product-nav.product-prev .product-pop {
        left: -20px;
    }
    .product-info-main .fieldset > .field.qty {
        margin-bottom: 20px;
    }
    .fieldset > .actions {
        vertical-align: top;
    }
    .catalog-product-view .sidebar .custom-block {
        padding: 0;
    }
    .footer .social-icons {
        float:left !important;
    }
    .owl-middle-narrow .owl-theme .owl-controls, .owl-middle-narrow.owl-theme .owl-controls {display:none !important;}
}
@media (max-width: 480px) {
    .masonry-grid .grid {
        width: 100%;
    }
    .masonry-grid .grid.double {
        width: 100%;
    }
    .masonry-grid .grid:last-child .item {
        width: 100%;
    }
    .footer .block-bottom .custom-block {
        float: left !important;
    }
}
    .page-products .sorter {
        float: left;
    }
    .modes {
        float: right;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 7px;
    }
    .modes-mode:before {
        content: '\e880';
        font-size: 14px;
    }
    .mode-list:before {
        content: '\e87b';
        font-size: 14px;
    }
    .products.wrapper ~ .toolbar .limiter {
        float: left;
    }
    .products.wrapper ~ .toolbar .pages {
        float: right;
    }
@media (min-width: 768px) {
    .page-header.type16 .block-search input {
        border-radius: 20px;
    }
    .sidebar.sidebar-main:before {
        /* content: ''; */
        position: absolute;
        left: 0;
        right: 20px;
        border: solid 1px #eee;
        top: 0;
        bottom: 0;
        border-radius: 2px;
    }
    .product.data.items > .item.title {
        /*padding: 10px 30px 10px 0;*/
    }
    .product.data.items > .item.title > .switch {
        font-size: 14px;
        font-weight: 700;
        color: #818692;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        line-height: 30px;
        background: none;
/*        padding: 0; */
    }
    .product.data.items > .item.title:not(.disabled) > .switch:focus,
    .product.data.items > .item.title:not(.disabled) > .switch:hover {
        background: none;
        color: #818692;
    }
    .product.data.items > .item.title.active > .switch,
    .product.data.items > .item.title.active > .switch:focus,
    .product.data.items > .item.title.active > .switch:hover {
        color: #ffc702;
        position: relative;
        border-bottom: #050203 solid 2px;
background-color: black;

    }
    .product.data.items > .item.content {
        padding: 35px 0 0;
        margin-top: 45px;
    }
}
.catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart:before, .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart > span {
    display: inline-block;
    vertical-align: middle;
}
.catalog-product-view .sidebar .custom-block.custom-block-1 {
    margin-top: -25px;
}
.home-banner-content img {
    width: 100%;
}
.product-item .rating-summary .rating-result > span:before {
    color: #575f68;
}
@media (max-width: 480px) {
    .toolbar .limiter .label {
        min-width: 43.22px;
    }
}
.top-block-header .col-md-9 > span {
    display: inline-block;
}
.product-items .swatch-option.text {
    line-height: 18px;
}
.sidebar .products-grid .product-item .product-item-details {
    position: static !important;
    padding-top: 7px;
}
.pages a.page:visited {
    color: #706f6c;
}
.column.main .product-item .product-reviews-summary, .cms-index-index .product-item .product-reviews-summary {
    display: none;
}
.product-item .product-reviews-summary {
    background-image: none;
}

.Brandlogo {
    max-width: 150px;
    text-align: center;
}
.checkout-payment-method .payment-method-title .payment-icon{
max-width: 20%;
}

.field-recaptcha {
    display: table-caption;
}
.actions.initial {
    display: inline-block !important;
}.btn-default {
    color: #fff !important;
    font-weight: 400;
    background-image: none;
    background-color: #08c;
    text-shadow: none;
    border: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
li.ui-menu-item.level1 > a:hover{
     background-color: black;
    color: #ffffff; }

.page-header.type15 .navigation li.level0.fullwidth .submenu li.level1 > a:hover {
    color: white;
    background-color: black; 
}

.social-icons > li > a.youtube-link:hover {
    background-color: #f1000b;
}

.social-icons > li > a.instagram-link:hover {
    background-color: #c9017e;
}

.insta-follow {
    position: absolute;
    top: calc(50% - 123px);
    left: calc(50% - 140px);
    background-color:#0e0e0e;
    padding: 30px 40px;
    text-align:center;
    color:#fff;
  }
  .insta-follow i {
      font-size: 24px;
  }
  .insta-follow h3 {
    font-size:48px;
    font-weight:300;
    text-transform: uppercase;
    font-family: 'Oswald';
    color:#fff;
    line-height: 1;
    padding-top:15px;
  }
  .insta-follow span {
      font-size: 15px;
    letter-spacing: 0.05em;
    display: block;
    margin-bottom: 28px;
  }
  .insta-follow .btn-default {
    font-family: 'Oswald';
    border: solid 2px #2c2c2c;
    background-color:#0e0e0e;
    padding: 9px 28px;
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing:0.05em;
    border-radius:2px;
    box-shadow: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
  }

/* start title on homepage */
.block-title-bar {
    margin-bottom: 5px;
}
.block-title-bar .block-title {
    border-bottom: 3px solid #000;
}
.block-title, .page-title {
    border-bottom: 3px solid #1d1d1d;
    margin: 0;
    display: block;
    overflow: hidden;
}
.block-title-bar .block-title h3 {
    margin-top: 0px;
}
.block-title h3, .page-title h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    float: left;
    background-color: #000;
    display: inline-block;
    padding: 10px 24px 7px 15px;
    margin: 0 40px 0 0;
    position: relative;
}
.block-title:after, .page-title:after {
    content: "";
    border: 1px solid #fff;
    display: block;
    clear: both;
}
.block-title h3:after, .page-title h1:after {
    content: "";
    height: 100%;
    width: 40px;
    background: #000;
    position: absolute;
    right: -20px;
    top: 0;
    transform: skewX(25deg);
}
/* end title on homepage */
@media (min-width: 640px){
.products-grid .product-item {
    position: relative;
    width: 25%;
    /* border: solid 1px black; */
    min-height: 456px;
}
}
@media (max-width: 600px){
.products-grid .product-item {
    width: 50%;
    padding: 10px;
    min-height: 400px;
}}

.field-recaptcha {
    display: table-caption;
}