<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
    $minPrice = $block->getProduct()->getTypeId() == 'grouped' ? $block->getProduct()->getPriceInfo()->getPrice('final_price')->getValue() :  $block->getProduct()->getPriceInfo()->getPrice('regular_price')->getValue();
    $maxPrice = 0;
    $children = $block->getProduct()->getTypeId() == 'grouped' ? $block->getProduct()->getTypeInstance()->getAssociatedProductCollection($block->getProduct())->addAttributeToSelect(['ebay_upc_attribute', 'price']) : [];
	foreach ($children as $child): 
             if($maxPrice < $child->getFinalPrice()) { $maxPrice = $child->getFinalPrice(); }  
             if($minPrice > $child->getFinalPrice()) { $minPrice = $child->getFinalPrice(); } 
    endforeach;  
?>

<meta property="og:type" content="product" />
<meta property="og:title"
      content="<?= /* @noEscape */ $block->stripTags($block->getProduct()->getName()) ?>" />
<meta property="og:image"
      content="<?= $block->escapeUrl($block->getImage($block->getProduct(), 'product_base_image')->getImageUrl()) ?>" />
<meta property="og:description"
      content="<?= /* @noEscape */ $block->stripTags($block->getProduct()->getShortDescription()) ?>" />
<meta property="og:url" content="<?= $block->escapeUrl($block->getProduct()->getProductUrl()) ?>" />
<?php  if ($priceAmount = $block->getProduct()->getPriceInfo()->getPrice(\Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE)->getAmount()) :?>
    <meta property="product:price:amount" content="<?= $maxPrice?>"/>
    <?= $block->getChildHtml('meta.currency') ?>
<?php   endif;?>
