<?php
    $parentCates = $block->getParentCategories();
    $childCates = $block->getAllChilds();
?>

<form action="<?php echo $block->getUrl('*/*/save') ?>" method="post" id="cate-mapping-save">
    <?php echo $block->getBlockHtml('formkey')?>
    <button id="wk-save-mapping" title="Save Amazon mapping" type="button" class="button wk-save-cate primary">
        <span class="button">
            <span><?php echo __('Save Mapping') ?></span>
        </span>
    </button>
    <div class="wk-shipping-container cate-container">
        <label>
            <span><?php echo __('Store Category') ?></span>
        </label>
        <div class="admin__field-control control">
            <div data-bind="scope: 'sellerCategory'">
            <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <script type="text/x-magento-init">
                {
                    "*": {
                        "Magento_Ui/js/core/app": {
                            "components": {
                                "sellerCategory": {
                                    "component": "Webkul_AmazonMagentoConnect/js/product/mage-category-tree",
                                    "template" : "Webkul_AmazonMagentoConnect/mage-category-tree",
                                    "filterOptions": true,
                                    "levelsVisibility": "1",
                                    "options": <?php echo $block->getCategoriesTree()?>
                                }
                            }
                        }
                    }
                }
            </script>    
        </div>
    </div>

    <div class="wk-amazon-catalog-container cate-container">
        <label>
            <span><?php echo __("Amazon Parent Category") ?></span>
        </label>
        <div class="admin__field-control control">
        <select class="required-entry mage_category required-entry _required select admin__control-select" name="category_group">
            <option value=""><?php echo __('select') ?> </option>
            <?php
            foreach ($parentCates as $code => $title) { ?>
                <option value=<?php echo $code ?>><?php echo $title; ?></option>
        <?php 
            }
            ?>
            </select>
        </div>
    </div>

    <div class="wk-amazon-catalog-container hide-container cate-container">
        <label>
            <span><?php echo __("Amazon Child Category") ?></span>
        </label>
        <div class="admin__field-control control">
        <select class="required-entry mage_category required-entry _required select admin__control-select" name="amazon_category_child">
            <option value=""><?php echo __('select') ?> </option>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "*":{
            "Webkul_AmazonMagentoConnect/js/category-map-plugin":{
                "childNodes" : <?php echo $childCates ?>
            }
        }
    }
</script>
