<!-- ko if: isDisplayed() -->
<tr class="totals discount magebees-wrapper-discount">
    <th class="mark" scope="row">
        <span class="title" data-bind="text: title"></span>
        <!--<span class="discount coupon" data-bind="text: getCouponCode()"></span>-->
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue(), attr: {'data-th': name}"></span>
    </td>
</tr>
<!-- /ko -->
