<!-- ko if: isDisplayed() -->
<!--<table class="data table table-totals" id="magebees-Onepagecheckout-summary-table-totals">-->
    <!--<caption class="table-caption" data-bind="i18n: 'Order Summary'"></caption>-->
    
	<!--<tbody>-->
	
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    
	<!--</tbody></table>-->
<!-- /ko -->
