<div class="magebeesDelDate" data-bind="visible: canVisibileDelDate">
<!--<label class="label">Delivery Date</label>-->
	<label class="label" data-bind="text: deldatelabel"></label>
	
<div class="control">
    <input class="input-text" type="text" data-bind="datetimepicker: true, event:{change:setDelDate}"  name="delivery_date" id="magebees_delivery_date" readonly="true"/>
</div>

<!--<label class="label">Comment</label>
<div class="control">
    <textarea name="delivery_comment" id="delivery_comment"></textarea>
</div>-->
<br/>
</div>