<!-- ko if: (isVisible()) -->
<div class="actions-toolbar-trigger" id="place-order-trigger-wrapper">
    <!--<button type="button" class="button action primary" id="place-order-trigger" value="Place Order" >
        <span data-bind="i18n: 'Place Order'"></span>
    </button>-->
    <button class="action primary checkout"
            id="place-order-trigger"
            type="button"
            data-bind="
            click: placeOrder,
            attr: {'title': $t('Place Order')}
        ">
        <span data-bind="i18n: 'Place Order'"></span>
    </button>
</div>
<!-- /ko -->