<!--<div id="Onepagecheckout-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'Onepagecheckout-sidebar Onepagecheckout-summary-wrapper magebees-Onepagecheckout-summary-wrapper hide',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}" class="magebees-one-page-checkout-sidebar">-->
	
	
<div id="Onepagecheckout-sidebar" class="magebees-one-page-checkout-sidebar">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="magebees-Onepagecheckout-block-shipping-information Onepagecheckout-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
