<!-- <div class="magebees-Onepagecheckout-block-summary Onepagecheckout-block-summary" data-bind="blockLoader: isLoading">
	<div class="magebeesLoader" id="summaryReview"> </div>
    <div data-bind="i18n: 'Review Your Order'" class="title magebees-summary-title"></div> -->
   	
	<!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
	
<!-- </div> -->
