<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magmodules\RichSnippets\ViewModel\MetaCms $viewModel */
$viewModel = $block->getData('view_model');
?>
<meta property="og:type" content="<?= /* @noEscape */ $viewModel->getType() ?>"/>
<?php if ($title = $viewModel->getTitle()): ?>
<meta property="og:title" content="<?= /* @noEscape */ $title ?>"/>
<?php endif ?>
<?php if ($description = $viewModel->getDescription()): ?>
<meta property="og:description" content="<?= /* @noEscape */ $description ?>"/>
<?php endif ?>
<?php if ($image = $viewModel->getImage()): ?>
<meta property="og:image" content="<?= /* @noEscape */ $image ?>"/>
<?php endif ?>
<?php if ($secureUrl = $viewModel->getSecureImage()): ?>
<meta property="og:image:secure_url" content="<?= /* @noEscape */ $secureUrl ?>"/>
<?php endif; ?>
<meta property="og:url" content="<?= /* @noEscape */ $block->getRequest()->getUriString() ?>"/>
<?php if ($facebookAppId = $viewModel->getFacebookAppId()): ?>
<meta property="fb:app_id" content="<?= /* @noEscape */ $facebookAppId ?>"/>
<?php endif ?>
<meta property="og:locale" content="<?= /* @noEscape */ $viewModel->getLocale() ?>"/>
