<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magmodules\RichSnippets\ViewModel\MetaProduct $viewModel */
$viewModel = $block->getData('view_model');
?>
<meta property="og:type" content="product"/>
<meta property="og:title" content="<?= /* @noEscape */ $viewModel->getTitle() ?>"/>
<?php if ($description = $viewModel->getDescription()): ?>
<meta property="og:description" content="<?= /* @noEscape */ $description ?>"/>
<?php endif; ?>
<?php if ($image = $viewModel->getImage()): ?>
<meta property="og:image" content="<?= /* @noEscape */ $image ?>"/>
<?php endif; ?>
<?php if ($secureImage = $viewModel->getSecureImage()): ?>
<meta property="og:image:secure_url" content="<?= /* @noEscape */ $secureImage ?>"/>
<?php endif; ?>
<meta property="og:url" content="<?= /* @noEscape */ $block->getRequest()->getUriString() ?>"/>
<meta property="og:locale" content="<?= /* @noEscape */ $viewModel->getLocale() ?>"/>
<?php if ($facebookAppId = $viewModel->getFacebookAppId()): ?>
<meta property="fb:app_id" content="<?= /* @noEscape */ $facebookAppId ?>"/>
<?php endif ?>
<?php if ($priceAmount = $viewModel->getProductPrice()): ?>
<meta property="product:price:amount" content="<?= /* @noEscape */ $priceAmount ?>"/>
<meta property="product:price:currency" content="<?= /* @noEscape */ $viewModel->getCurrencyCode() ?>"/>
<?php endif;?>
<meta property="availability" content="<?= /* @noEscape */ $viewModel->getAvailability() ?>"/>
