<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magmodules\RichSnippets\ViewModel\MetaCategory $viewModel */
$viewModel = $block->getData('view_model');
?>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="<?= /* @noEscape */ $viewModel->getTwitterUsername() ?>>"/>
<meta name="twitter:title" content="<?= /* @noEscape */ $viewModel->getTitle() ?>"/>
<meta name="twitter:description" content="<?= /* @noEscape */ $viewModel->getDescription() ?>"/>
<meta name="twitter:image" content="<?= /* @noEscape */ $viewModel->getImage() ?>"/>
