<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magmodules\RichSnippets\ViewModel\MetaProduct $viewModel */
$viewModel = $block->getData('view_model');
?>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<?= /* @noEscape */ $viewModel->getTwitterUsername() ?>>" />
<meta name="twitter:title" content="<?= /* @noEscape */ $viewModel->getTitle() ?>" />
<?php if ($description = $viewModel->getDescription()): ?>
<meta name="twitter:description" content="<?= /* @noEscape */ $description ?>" />
<?php endif; ?>
<meta name="twitter:image" content="<?= /* @noEscape */ $viewModel->getImage() ?>" />
