header.page-header.type15 {
    position: relative;
    width: 100%;
    background-color: #040404 !important;
    border: 0;
    z-index: 5;
    border-bottom: 1px solid rgba(60,60,60,0.1);
}
.page-header.type15 {
    /*background-image: url(../../images/page-header2.jpg);*/
    background-repeat: repeat;
}
header.page-header.type15 .header > .logo {
    float: left;
    width: 15%;
    margin: 0px 0;
    max-width: 100%;
}
header.page-header.type15 .minicart-wrapper {
    max-width: 71px;
}
header.page-header.type15 .minicart-wrapper .action.showcart {
    height: 52px;
    padding: 0 15px;
    line-height: 49px;
}
header.page-header.type15 .minicart-wrapper .action.showcart:before,
header.page-header.type15 .minicart-wrapper .action.showcart.active:before {
    content: '\e878';
    color: #fff;
    font-size: 27px;
    display: inline-block;
    height: 52px;
    line-height: 52px;
}
header.page-header.type15 .minicart-wrapper .action.showcart .counter.qty {
    position: static;
    font-family: 'Oswald';
    font-size: 15px;
    text-transform: capitalize;
    color: #c0bebb;
    letter-spacing: 0.03em;
    font-weight: 300;
    line-height: 49px;
    margin: 0 0 0 5px;
    min-width: auto;
    height:auto;
    width: auto;

}
header.page-header.type15 .minicart-wrapper .action.showcart .counter-number {
    position: absolute;
    font-family: "Poppins";
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: #ff4052;
    border-radius: 20px;
    width: 14px;
    height: 14px;
    line-height: 16px;
    top: 13px;
    left: 32px;
}
header.page-header.type15 .minicart-wrapper .action.showcart .counter-label {
    position: static;
}
header.page-header.type15 .minicart-wrapper .block-minicart {
    border-top-color: #fff;
}
header.page-header.type15 .minicart-wrapper .block-minicart:before {
    border-bottom-color: #fff;
}
header.page-header.type15 .minicart-wrapper .block-minicart .amount .price-wrapper:first-child .price {
    font-family: 'Oswald';
    font-size: 17px;
}
header.page-header.type15 .minicart-wrapper .block-minicart .block-content > .actions > .primary .action.primary,
header.page-header.type15 .minicart-wrapper .block-minicart .block-content > .actions > .secondary .action.viewcart {
    font-family: 'Oswald';
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
header.page-header.type15 .minicart-wrapper .minicart-items .product-item-details .price {
    font-family: 'Oswald';
    font-size: 13px;
}
header.page-header.type15 .minicart-wrapper .minicart-items .product-item-details {
    padding-top: 0;
    padding-bottom: 0;
}
header.page-header.type15.sticky-header .minicart-wrapper .action.showcart > span {
    padding: 0 !important;
    margin: 0 !important;
    width: 0 !important;
    height: 0 !important;
}
ul.header.links.account-link-inner-dropdown {
    padding: 0 !important;
}
@media (min-width: 768px) {
    header.page-header.type15.sticky-header .nav-sections {
        background-color: #040404;
        padding: 8px 0 !important;
    }
    header.page-header.type15.sticky-header .navigation > ul {
        text-align: left;
        padding-right: 70px;
    }
    header.page-header.type15.sticky-header .minicart-wrapper .block-minicart {
        right: 0;
    }
    header.page-header.type15.sticky-header .minicart-wrapper .action.showcart .counter-label {
        display: none;
    }
    header.page-header.type15.sticky-header .minicart-wrapper .action.showcart:before {
        line-height: 43px;
    }
    header.page-header.type15.sticky-header .minicart-wrapper .action.showcart .counter-number {
        top: 8px;
    }
    header.page-header.type15 .top-links-area {
        padding: 0;
    }
    header.page-header.type15 .header.links {
        width: 100%;
        padding: 16px 16px 0 0;
        border-bottom: 1px solid rgba(60,60,60,0.1);
        height: 53px;
        margin: 0;
        list-style: none;
        text-align: right;
    }
    header.page-header.type15 .header.links li.first {
        padding-left: 0;
    }
    header.page-header.type15 .header.links li {
        border: 0;
        display: inline-block;
        text-transform: uppercase;
        color: #c0bebb;
        font-size: 13px;
        font-family: "Oswald";
    }
    header.page-header.type15 .top-links-area .header.links li a {
        padding: 0 16px;
        color: #c0bebb;
        font-size: 13px;
        font-family: "Oswald";
        font-weight: 400;
        letter-spacing: 1px;
        border: none;
    }
    header.page-header.type15 .header.links li a:hover {
        color:#fff;
    }
    header.page-header.type15 .header.links > li > *:not(.no-display):not(div) {
        padding: 0 16px;
    }
    header.page-header.type15 .header-right-area {
        width: 80%;
        float: left;
        border-right: 1px solid rgba(60,60,60,0.1);
    }
    header.page-header.type15 .header .header-link-area {
        float: left;
        display: inline-block;
        width: calc(100% - 270px);
        border: 1px solid rgba(60,60,60,0.1);
        border-bottom-width: 0;
        border-top-width: 0;
    }
    header.page-header.type15 .switcher-area {
        width: 30%;
        float: right;
    }
    header.page-header.type15 .nav-sections {
        border: 0;
        padding: 0 10px;
        margin-top: -1px;
        text-align: right;
    }
    header.page-header.type15 .navigation li.level0 > a {
        padding: 3.5px 6px;
        color: #fff;
        font-size: 14px;
        font-family: "Oswald";
        font-weight: 400;
        letter-spacing: 1px;
    }

    header.page-header.type15 .navigation li.level0 > a:hover {
        background-color: #fef200;
        color: #0a0a0a;
    }
    header.page-header.type15 .navigation li.level0 > a:after {
        line-height: 48px;
    }
    header.page-header.type15 .navigation,
    header.page-header.type15 .navigation ul {
        position: static;
        text-align: left;
    }
    header.page-header.type15.sticky-header .navigation,
    header.page-header.type15.sticky-header .navigation ul {
        position: relative;
    }
    header.page-header.type15 .navigation li.level0 .row {
        margin: 0 -15px;
    }
    header.page-header.type15 .navigation .subchildmenu.mega-columns > li {
        padding: 0 15px;
    }
    header.page-header.type15 .navigation ul {
        text-align: right;
    }
    header.page-header.type15 .navigation ul li {
        text-align: left;
    }
    header.page-header.type15 .navigation li.level0.parent > a:before {
        content: "";
        width: 10px;
        height: 10px;
        border: 8px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        top: 100%;
        margin-top: -16px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s;
    }
    header.page-header.type15 .search-area {
        position: relative;
        width: 100%;
        height: auto;
        border-bottom: 1px solid rgba(60,60,60,0.1);
        top: 0;
        left: 0;
        margin: 0;
    }
    header.page-header.type15 .search-area .block-search {
        width: 100%;
        margin: 0;
    }
    header.page-header.type15 .search-area .search-toggle-icon {
        display: none;
    }
    .input-text:focus {
        box-shadow: none !important;
    }
    header.page-header.type15 .search-area .minisearch .input-text {
        background: none;
        height: 52px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: "Oswald";
        color: #c0bebb;
        letter-spacing: 0.03em;
    }

    header.page-header.type15 .search-area .block-search .action.search {
        width: 50px;
        height: 52px;
        color: #fff;
        font-size: 22px;
        opacity: 1;
    }
    header.page-header.type15 .search-area .block-search .action.search:before {
        content: '\e884';
        font-size: 22px;
        color: #fff;
        padding-left: 1px;
    }
    header.page-header.type15 .cart-area .switcher {
        height: 52px;
        border-right: 1px solid rgba(60,60,60,0.1);
        margin: 0;
        font-family: "Oswald";
        padding: 0 25px 0 15px;
    }
    header.page-header.type15 .switcher .action.toggle {
        color: #c0bebb;
        border: 0;
        line-height: 52px;
        height: auto;
        padding: 0;
        font-size: 14px;
        font-family: "Oswald";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    header.page-header.type15 .switcher .action.toggle:after {
        position: absolute;
        right:-15px;
        top: calc(50% - 8px);
    }
    header.page-header.type15 .switcher strong {
        font-size: 14px;
        line-height: 52px;
    }
    .page-header.type15 .navigation .level0 .submenu {
        border-top-width: 0;
        box-shadow: 0 7px 10px -2px rgba(0,0,0,0.25);
    }
    .page-header.type15 .navigation li.level0.fullwidth .submenu li.level1 > a,
    .page-header.type15 .navigation li.level0.staticwidth .submenu li.level1 > a {
        font-size: 13px;
        font-weight: 700;
        /*margin-top: 26px;*/
        /*margin-bottom: 4px;*/
        color: #111111;
        padding: 0 5px;
    }
    .page-header.type15 .navigation li.level0.fullwidth .submenu a,
    .page-header.type15 .navigation li.level0.classic .submenu a,
    .page-header.type15 .navigation li.level0.staticwidth .submenu a {
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
    }
    .page-header.type15 .navigation .level0 .submenu li.parent > a:after {
        margin-top: 4px;
    }
}
@media (max-width:1199px) and  (min-width:768px){
    header.page-header.type15 .switcher-area {
        width: 100%;
        border-bottom: 1px solid rgba(60,60,60,0.1);
        border-left: 1px solid rgba(60,60,60,0.1);
        text-align: right;
    }
    header.page-header.type15 .header .header-link-area {
        width: 100%;
        border-right: none;
    }
    header.page-header.type15 .cart-area, header.page-header.type15 .search-area {display: inline-block;width: auto;vertical-align: middle;border-bottom:0;text-align: left;}
    header.page-header.type15 .cart-area {
        border-left: 1px solid rgba(60,60,60,0.1);
    }
    header.page-header.type15 .minicart-wrapper {
        max-width: inherit;
    }
    header.page-header.type15 .search-area .block-search {
        min-width: 240px;
    }
    header.page-header.type15 .header > .logo {
        margin: 61px 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    header.page-header.type15 .navigation li.level0 > a {
        padding: 3.5px 15px;
    }
}
@media (max-width: 767px) {
    header.page-header.type15 .header > .logo {
        margin: 11px 0 9px;
        height: 40px;
        width: auto;
    }
    header.page-header.type15 .header > .logo img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
    }
    header.page-header.type15 .header .cart-area .switcher, header.page-header.type15 .header .search-toggle-icon {
        display: none;
    }
    header.page-header.type15 .header .cart-area {
        position: absolute;
        right: 0;
        top: 0;
    }
    header.page-header.type15 .minicart-wrapper .action.showcart .counter-label {
        display: none;
    }
    header.page-header.type15 .minicart-wrapper {
        margin-top: 6px;
    }
    header.page-header.type15 .minicart-wrapper .block-minicart {
        right: 10px;
    }
    header.page-header.type15 .search-area .block-search .label {
        padding-right: 93px;
        line-height: 60px;
    }
    header.page-header.type15 .search-area .block-search .label:before {
        content: '\e884';
        color: #fff;
        padding-left: 1px;
        font-size: 18px;
    }
    header.page-header.type15 .nav-toggle:before {
        color: #fff;
    }
    header.page-header.type15 .nav-toggle {
        margin-right: 5px;
        line-height: 1;
        margin-top: 22px;
    }
}
header.page-header.type15 .search-category select {
    color: #c0bebb;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
}
header.page-header.type15 .block-search input::-webkit-input-placeholder {
    color: #c0bebb;
}
header.page-header.type15 .block-search input::-moz-placeholder {
    color: #c0bebb;
}
header.page-header.type15 .block-search input:-moz-placeholder {
    color: #c0bebb;
}
header.page-header.type15 .block-search input:-ms-input-placeholder {
    color: #c0bebb;
}