*{background:0 0!important;text-align:left!important}body{background:#fff!important;font-size:9pt!important;margin:15px!important}a{color:#2976c9!important}td,th{color:#2f2f2f!important;border-color:#ccc!important}.actions,.buttons-set,.footer-container,.header-container,.nav-container,.pager,.toolbar{display:none!important}.page-print .data-table .cart-tax-total{background-position:100% -54px}.page-print .data-table .cart-tax-info{display:block!important}.page-print{width:6.5in;margin:20px;background:#FFF}
