<?php
/**
 * @category   Webkul
 * @package    Webkul_AmazonMagentoConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2018 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */

?>
<fieldset class="admin__fieldset fieldset" style="display: none;" id="variable_map_block">
    <div class="admin__control-table-wrapper" id="manage-options-panel" data-index="attribute_options_select_container">
        <table class="admin__control-table" data-index="attribute_options_select">
            <thead>
                <tr id="attribute-options-table">
                    <th class="col-draggable"></th>
                    <th class="_required"><span><?php echo __('Amazon Product Attribute') ?></span></th>
                    <th class="_required"><span><?php echo __('Magento Product Attribute')?></span></th>
                    <th class="col-delete">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-role="options-container" class="ignore-validate ui-sortable">
            <?php
                $mappedVariables = $block->getMappedVariables();
                $amzProAttributes = $block->getAmazonProAttributes();
                foreach ($mappedVariables['items'] as $key => $value) {
                    ?>
                    <tr>
                    <input name="product_attr[entity_ids][]" data-ui-id="template-listing-form-fieldset-element-textarea-template-content"
                    class="required-entry input-text admin__control-text required-entry _required ebay_listing_var" type="hidden" value="<?php echo $value['entity_id']?>" />
                    <input name="product_attr[<?php echo $key ?>][entity_id]" data-ui-id="template-listing-form-fieldset-element-textarea-template-content"
                    class="required-entry input-text admin__control-text required-entry _required ebay_listing_var" type="hidden" value="<?php echo $value['entity_id']?>" />
                       <td class="col-draggable">
                           <div data-role="draggable-handle" class="draggable-handle" title="Sort Option"></div>
                       </td>
                       <td class="col-default">
                           <select class="select admin__control-select" name="product_attr[<?php echo $key ?>][amz_attr]"
                               data-ui-id="template-listing-form-fieldset-element-textarea-template-content">
                               <option value=""><?php echo __('Select Amazon Attribute')?></option>
                               <?php
                               foreach ($amzProAttributes as $code => $codeVal) {
                                   $selected = ($code == $value['amz_attr']) ? 'selected="selected"' : '';
                                   ?>
                                   <option value="<?php echo $code?>" <?php echo $selected ?> >
                                       <?php echo $codeVal?>
                                   </option>
                               <?php } ?>
                           </select>
                       </td>
                       <td class="col-default">
                           <select class="select admin__control-select" name="product_attr[<?php echo $key ?>][mage_attr]"
                               data-ui-id="template-listing-form-fieldset-element-textarea-template-content">
                               <option value=""><?php echo __('Select Product Attribute')?></option>
                               <?php
                               $productAttribute = $block->getProductAttributeList();
                               foreach ($productAttribute as $attribute) {
                                   $selected = ($attribute->getAttributeCode() == $value['mage_attr']) ? 'selected="selected"' : '';
                                   ?>
                                   <option value="<?php echo $attribute->getAttributeCode()?>" <?php echo $selected ?> >
                                       <?php echo $attribute->getFrontendLabel()?>
                                   </option>
                               <?php } ?>
                           </select>
                       </td>
                       <td id="delete_button_container_<?php echo $key ?>" class="col-delete">
                           <button id="delete_button_<?php echo $key ?>" title="Delete" type="button" class="action- scalable delete delete-option">
                               <span><?php echo __('Delete') ?></span>
                           </button>
                       </td>
                   </tr>
            <?php } ?>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6" class="validation">
                        <input type="hidden" class="required-dropdown-attribute-entry" name="dropdown_attribute_validation">
                        <input type="hidden" class="required-dropdown-attribute-unique" name="dropdown_attribute_validation_unique">
                    </th>
                </tr>
                <tr>
                    <th colspan="6" class="col-actions-add">
                        <button id="add_new_option_button" data-action="add_new_row" title="Add Option" type="button" class="action- scalable add">
                            <span><?php echo __('Add Option')?></span>
                        </button>
                    </th>
                </tr>
            </tfoot>
        </table>
        <input type="hidden" id="option-count-check" value="1">
    </div>
    <script id="variable-row-template" type="text/x-magento-template">
         <tr>
            <td class="col-draggable">
                <div data-role="draggable-handle" class="draggable-handle" title="Sort Option"></div>
            </td>
            <td class="col-default">
                <select class="select admin__control-select" name="product_attr[<%- data.id %>][amz_attr]" data-ui-id="template-listing-form-fieldset-element-textarea-template-content">
                    <option value=""><?php echo __('Select Amazon Attribute')?></option>
                    <?php
                    foreach ($amzProAttributes as $code => $codeVal) { ?>
                        <option value="<?php echo $code?>">
                            <?php echo $codeVal?>
                        </option>
                    <?php } ?>
                </select>
            </td>
            <td class="col-default">
                <select class="select admin__control-select" name="product_attr[<%- data.id %>][mage_attr]" data-ui-id="template-listing-form-fieldset-element-textarea-template-content">
                    <option value=""><?php echo __('Select Product Attribute')?></option>
                    <?php
                    $productAttribute = $block->getProductAttributeList();
                    foreach ($productAttribute as $attribute) { ?>
                        <option value="<?php echo $attribute->getAttributeCode()?>">
                            <?php echo $attribute->getFrontendLabel()?>
                        </option>
                    <?php } ?>
                </select>
            </td>
            <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <button id="delete_button_<%- data.id %>" title="Delete" type="button" class="action- scalable delete delete-option">
                    <span><?php echo __('Delete') ?></span>
                </button>
            </td>
        </tr>
    </script>
    <script type="text/x-magento-init">
        {
            "*": {
                "Webkul_AmazonMagentoConnect/js/mapped-attr-options": {
                    "attributesData": <?php /* @noEscape */echo count($block->getMappedVariables()) ?>
                }
            }
        }
    </script>
</fieldset>
