<?php
$porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
$rich_snippet = $porto_helper->getConfig('porto_settings/richsnippets');
if (isset($rich_snippet['enable']) && $rich_snippet['enable']) {
    $_product = $this->getProduct();
    $minPrice = $_product->getTypeId() == 'grouped' ? $_product->getPriceInfo()->getPrice('final_price')->getValue() :  $_product->getPriceInfo()->getPrice('regular_price')->getValue();
    $maxPrice = 0;
    $children = $_product->getTypeId() == 'grouped' ? $_product->getTypeInstance()->getAssociatedProductCollection($_product)->addAttributeToSelect(['ebay_upc_attribute', 'price']) : [];
    $summaryModel = $block->getReviewSummary();
    $reviewCount = $summaryModel->getReviewsCount();
    if (!$reviewCount) {
        $reviewCount = 0;
    }
    $ratingSummary = ($summaryModel->getRatingSummary()) ? $summaryModel->getRatingSummary() : 20;
    $productDescription = $block->escapeQuote($block->stripTags($_product->getDescription()));
    $productBrand = $_product->getAttributeText('manufacturer'); ?>
    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="name" content="<?php /* @escapeNotVerified */
        echo $block->escapeQuote($block->stripTags($_product->getName())); ?>"/>
        <meta itemprop="image" content="<?php /* @escapeNotVerified */
        echo $block->stripTags($block->getImage($_product, 'product_base_image')->getImageUrl()); ?>"/>
        <meta itemprop="description" content="<?php /* @escapeNotVerified */
        echo $productDescription; ?>"/>
        <meta itemprop="url" content="<?php /* @escapeNotVerified */
        echo $block->stripTags($_product->getProductUrl()); ?>"/>
        <meta itemprop="sku" content="<?php /* @escapeNotVerified */
        echo $block->stripTags($_product->getSku()); ?>"/>
	    <meta itemprop="gtin8" content="<?php /* @escapeNotVerified */
        echo $block->stripTags($_product->getData("ebay_upc_attribute")); ?>"/>
        <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
            <meta itemprop="name" content="<?php /* @escapeNotVerified */ echo $productBrand; ?>" />
        </div>
        <?php if ($reviewCount): ?>
            <div itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="bestRating" content="5"/>
                <meta itemprop="ratingValue" content="<?php echo $ratingSummary / 20; ?>"/>
                <meta itemprop="reviewCount" content="<?php echo $reviewCount; ?>"/>
            </div>
            <!--
            for every review
            <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
                <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                    <meta itemprop="name" content="Fred Benson" />
                </div>
                <div itemprop="reviewRating" itemtype="http://schema.org/Rating" itemscope>
                    <meta itemprop="ratingValue" content="4" />
                    <meta itemprop="bestRating" content="5" />
                </div>
            </div>
            -->
        <?php endif; ?>
        <?php foreach ($children as $child): ?>
            <?php if($maxPrice < $child->getFinalPrice()) { $maxPrice = $child->getFinalPrice(); } ?>
            <?php if($minPrice > $child->getFinalPrice()) { $minPrice = $child->getFinalPrice(); } ?>
        <?php endforeach; ?>
        <?php if($_product->getTypeId() == 'grouped'): ?>
            <div itemprop="offers" itemscope itemtype="http://schema.org/aggregateOffer">
                <meta content="<?php echo $minPrice; ?>" itemprop="lowPrice" />
                <meta content="<?php echo $maxPrice; ?>" itemprop="highPrice" />
                <meta itemprop="priceCurrency" content="<?php echo $block->getCurrencyCode() ?>"/>
            </div>
        <?php else: ?>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="<?php echo $block->getCurrencyCode() ?>"/>
                <meta itemprop="price" content="<?php echo $minPrice; ?>" />
                <meta itemprop="url" content="<?php /* @escapeNotVerified */
                echo $block->stripTags($_product->getProductUrl()); ?>"/>
                <?php if ($_product->isAvailable()): ?>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                <?php else : ?>
                    <link itemprop="availability" href="http://schema.org/OutOfStock"/>
                <?php endif ?>
            </div>
        <?php endif; ?>
    </div>
    <?php
} ?>
