<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 * @var $block Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Header
 */
?>
<div class="mm-richsnippet-header" style="background-image: url(<?= $block->escapeUrl($block->getImage()); ?>)">
    <div class="">
        <p class="mm-richsnippet-header-text">
            <strong>Developed by Magmodules.</strong><br>
            A Magento only eCommerce Agency located in the Netherlands.
        </p>
    </div>
    <div class="mm-richsnippet-header-actions">
        <a id="mm-button_help" class="helpbutton" href="<?= $block->escapeUrl($block->getSupportLink()); ?>"
           target="_blank">
            <i class="mm-icon__question-circled"></i>
            <span><?= $block->escapeUrl(__('Manual & Support')); ?></span>
        </a>
        <button id="mm-button_test" title="<?= $block->escapeUrl(__('Run Selftest')); ?>"
                type="button" class="action-default scalable">
            <i class="mm-icon__list-unordered-four"></i>
            <span><?= $block->escapeUrl(__('Run Selftest')); ?></span>
        </button>
    </div>
</div>
