.magebees_Onepagecheckout_clear {
    clear: both;
}

.magebees_Onepagecheckout_alternative_column {
    width: 290px;
    box-sizing: border-box;
}

@media (max-width: 1050px) {
    .magebees_Onepagecheckout_alternative_column {
        width: 320px;
    }
}

@media (max-width: 390px) {
    .magebees_Onepagecheckout_alternative_column {
        width: 290px;
    }
}

.magebees_Onepagecheckout_universal_wrapper {
    margin-bottom: 25px;
    position: relative;
    max-width: 290px;
}

@media (max-width: 1050px) {
    .magebees_Onepagecheckout_universal_wrapper {
        max-width: 320px;
    }
}

@media (max-width: 390px) {
    .magebees_Onepagecheckout_universal_wrapper {
        max-width: 290px;
    }
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label {
    position: relative;
    cursor: pointer;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label .magebees_Onepagecheckout_checkbox_label_value {
    color: #868686;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 25px;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label .magebees_Onepagecheckout_checkbox_label_value:before {
    content: '';
    font-family: 'FontAwesome';
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    display: inline-block;
    top: 2px;
    position: absolute;
    left: 0;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    font-size: 8px;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:not(:checked).validation-failed + .magebees_Onepagecheckout_checkbox_label_value:before,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:not(:checked).validation-failed + .magebees_Onepagecheckout_checkbox_label_value {
    border-color: #f7954e;
    color: #f7954e;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:checked + .magebees_Onepagecheckout_checkbox_label_value:before {
    content: '\f00c';
    border-color: #22a1ad;
    background-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:disabled + .magebees_Onepagecheckout_checkbox_label_value:before {
    color: #b6b6b6;
    background-color: #f3f3f3;
    border-color: #868686;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:focus:checked + .magebees_Onepagecheckout_checkbox_label_value:before {
    background-color: #26b3bf;
    border-color: #26b3bf;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:focus + .magebees_Onepagecheckout_checkbox_label_value:before,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_checkbox_label input.magebees_Onepagecheckout_checkbox:focus.validation-failed + .magebees_Onepagecheckout_checkbox_label_value:before {
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label {
    position: relative;
    cursor: pointer;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label .magebees_Onepagecheckout_radio_label_value {
    color: #868686;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 25px;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label .magebees_Onepagecheckout_radio_label_value:before {
    content: '';
    font-family: 'FontAwesome';
    width: 16px;
    height: 16px;
    line-height: 15px;
    border-radius: 14px;
    border: 1px solid #dddddd;
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    color: #fff;
    top: 2px;
    left: 0;
    font-size: 8px;
    text-align: center;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:not(:checked).validation-failed + .magebees_Onepagecheckout_radio_label_value:before,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:not(:checked).validation-failed + .magebees_Onepagecheckout_radio_label_value {
    border-color: #e9545e;
    color: #e9545e;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:checked + .magebees_Onepagecheckout_radio_label_value:before {
    content: '\f00c';
    border-color: #22a1ad;
    background-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:disabled + .magebees_Onepagecheckout_radio_label_value:before {
    color: #b6b6b6;
    background-color: #f3f3f3;
    border-color: #868686;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:focus:checked + .magebees_Onepagecheckout_radio_label_value:before {
    background-color: #26b3bf;
    border-color: #26b3bf;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_radio_label input.magebees_Onepagecheckout_radio:focus + .magebees_Onepagecheckout_radio_label_value:before {
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field {
    box-shadow: none;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_select {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea {
    background: inherit;
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: #343434;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 14px;
    outline: none;
    height: auto;
    width: 100%;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:focus,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:focus {
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input.validation-failed,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea.validation-failed {
    border-color: #e9545e;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:invalid,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:invalid,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:-moz-ui-invalid,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:-moz-ui-invalid {
    outline: none;
    box-shadow: none;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input::-moz-placeholder,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea::-moz-placeholder {
    color: #868686;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:-moz-placeholder,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:-moz-placeholder {
    color: #868686;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:-ms-input-placeholder,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:-ms-input-placeholder {
    color: #868686;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input::-webkit-input-placeholder,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea::-webkit-input-placeholder {
    color: #868686;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_input:disabled,
.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea:disabled {
    color: #b6b6b6;
    background-color: #f3f3f3;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field.magebees_Onepagecheckout_textarea {
    max-width: 100%;
    overflow: hidden;
    line-height: inherit;
    resize: none;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_field[type="password"] {
    padding-right: calc(43px);
}

.magebees_Onepagecheckout_universal_wrapper.magebees_Onepagecheckout_message {
    font-size: 12px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
}

.magebees_Onepagecheckout_universal_wrapper.magebees_Onepagecheckout_message.success_message {
    color: #22a1ad;
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper.magebees_Onepagecheckout_message.error_message {
    color: #e9545e;
    border-color: #e9545e;
}

.magebees_Onepagecheckout_universal_wrapper.magebees_Onepagecheckout_message.info_message {
    color: #f7954e;
    border-color: #f7954e;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_show_hide_password {
    font-family: 'FontAwesome';
    color: #868686;
    font-size: 14px;
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    right: 25px;
    top: 14px;
    line-height: 1;
    cursor: pointer;
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_show_hide_password.active:after {
    content: "\f070";
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_show_hide_password:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "\f06e";
}

.magebees_Onepagecheckout_universal_wrapper .magebees_Onepagecheckout_show_hide_password:hover {
    color: #343434;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error {
    background: inherit;
    padding: inherit;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error.magebees_Onepagecheckout_empty_field .magebees_Onepagecheckout_field {
    border-color: #f7954e;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error.magebees_Onepagecheckout_empty_field .magebees_Onepagecheckout_field:focus {
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error.magebees_Onepagecheckout_empty_field .scroll-wrapper {
    border-color: #f7954e;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error.magebees_Onepagecheckout_empty_field .scroll-wrapper.focused {
    border-color: #22a1ad;
}

.magebees_Onepagecheckout_universal_wrapper.validation-error .scroll-wrapper {
    border-color: #e9545e;
}

.magebees_Onepagecheckout_universal_wrapper .validation-advice {
    display: none !important;
}

.magebees_Onepagecheckout_short_fields {
    display: inline-block;
}

.magebees_Onepagecheckout_short_fields .magebees_Onepagecheckout_universal_wrapper {
    display: block;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.magebees_Onepagecheckout_short_fields .magebees_Onepagecheckout_universal_wrapper:first-child {
    padding-right: calc(12.5px);
}

.magebees_Onepagecheckout_short_fields .magebees_Onepagecheckout_universal_wrapper:last-child {
    padding-left: calc(12.5px);
}

.magebees_Onepagecheckout_section_delimiter {
    height: 1px;
    background: #f3f3f3;
    width: calc(100% - 50px);
    margin: 0 auto 25px auto;
}

.magebees_Onepagecheckout_small_button,
.magebees_Onepagecheckout_button {
    display: block;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding-top: 11px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 25px;
    border: none;
    outline: none;
    margin: 0;
    color: #fff;
    background-color: #00417a;
    cursor: pointer;
}

.magebees_Onepagecheckout_button:visited, .magebees_Onepagecheckout_small_button:visited {
    color: #fff;
    text-decoration: none;
}

.magebees_Onepagecheckout_small_button:not(.disabled):hover,
.magebees_Onepagecheckout_button:not(.disabled):hover {
    text-decoration: none;
    background-color: #004c8f;
}

.magebees_Onepagecheckout_small_button.disabled,
.magebees_Onepagecheckout_button.disabled {
    color: #b6b6b6;
    background-color: #f3f3f3;
    cursor: default;
}

.magebees_Onepagecheckout_small_button.active,
.magebees_Onepagecheckout_button.active {
    color: #fff;
    background-color: #00417a;
}

.magebees_Onepagecheckout_small_button.active:hover,
.magebees_Onepagecheckout_button.active:hover,
.magebees_Onepagecheckout_small_button.active:focus,
.magebees_Onepagecheckout_button.active:focus {
    background-color: #004b8c;
}

.magebees_Onepagecheckout_small_button {
    padding-right: 8.33333333px;
    padding-left: 8.33333333px;
    display: block;
    box-sizing: border-box;
    width: 45%;
    overflow: hidden;
}

.magebees_Onepagecheckout_small_button:first-child {
    float: left;
}

.magebees_Onepagecheckout_small_button:last-child {
    float: right;
}

.magebees_Onepagecheckout_small_button_container {
    overflow: hidden;
}

.magebees_Onepagecheckout_loader_wrapper {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.magebees_Onepagecheckout_loader_wrapper.active {
    display: block;
}

.magebees_Onepagecheckout_loader_wrapper .magebees_Onepagecheckout_loader_mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.magebees_Onepagecheckout_loader_wrapper .magebees_Onepagecheckout_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    font-size: 8px;
    border-top: 0.8em solid rgba(34, 161, 173, 0.2);
    border-right: 0.8em solid rgba(34, 161, 173, 0.2);
    border-bottom: 0.8em solid rgba(34, 161, 173, 0.2);
    border-left: 0.8em solid #22a1ad;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.magebees_Onepagecheckout_loader_wrapper .magebees_Onepagecheckout_loader:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.magebees_Onepagecheckout_popup_wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
}

.magebees_Onepagecheckout_popup_wrapper.active {
    display: block;
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup {
    background: #fff;
    border-radius: 4px;
    padding: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
    max-height: 85%;
    overflow: auto;
}

@media (max-width: 600px) {
    .magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup {
        padding: 12.5px;
    }
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_close {
    line-height: 1;
    font-size: 14px;
    color: #868686;
    cursor: pointer;
    margin-bottom: 25px;
}

@media (max-width: 600px) {
    .magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_close {
        margin-bottom: 12.5px;
    }
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_close:hover {
    color: #22a1ad;
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_close:before {
    font-family: 'FontAwesome';
    content: '\f137';
    padding-right: 2px;
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_content {
    max-height: 100%;
    max-width: 480px;
    outline: none;
}

@media (max-width: 600px) {
    .magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_content {
        width: 290px;
    }
}

@media (max-width: 390px) {
    .magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup .magebees_Onepagecheckout_popup_content {
        width: calc(277.5px);
    }
}

.magebees_Onepagecheckout_popup_wrapper .magebees_Onepagecheckout_popup_mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.magebees_empty_cart_wrapper {
    padding: 50px 0;
    width: 100%;
    position: relative;
    color: #343434;
    overflow: hidden;
}

.magebees_empty_cart_wrapper * {
    line-height: 1.4;
    box-sizing: border-box;
}

.magebees_empty_cart_wrapper .magebees_empty_page_column {
    position: relative;
    margin: 0 auto;
}

.magebees_empty_cart_wrapper .magebees_empty_page_column .magebees_empty_page_title {
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
    line-height: 1;
}

.magebees_empty_cart_wrapper .magebees_empty_page_column .magebees_empty_cart_info {
    text-align: center;
}

.magebees_empty_cart_wrapper .magebees_empty_page_column .magebees_empty_cart_powered_by {
    text-align: center;
}

.magebees_empty_cart_wrapper .magebees_empty_page_column .magebees_empty_cart_powered_by a {
    text-decoration: none;
    font-size: 12px;
    color: #868686;
}