<?php
/**
 * *
 *  Copyright © 2016 MW. All rights reserved.
 *  See COPYING.txt for license details.
 *  
 */

// @codingStandardsIgnoreFile
?>
<?php $defaultInformation = $this->helper('MW\Onestepcheckout\Helper\Config')->getDefaultAddressInformation();?>
<script type='text/javascript'>
    require([
        'MW_Onestepcheckout/js/model/addressFieldManager'
    ], function(addressFieldManager) {
        addressFieldManager.init(<?php echo $this->helper('MW\Onestepcheckout\Helper\Config')->getAddressFieldsJsonConfig();?>);
    })
</script>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask show" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')); ?>"
                 alt="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Loading...')); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $region = $objectManager->create('Magento\Directory\Model\ResourceModel\Region\Collection')
            ->addFieldToFilter('main_table.region_id', ['eq' => $defaultInformation['region_id']])
            ->getFirstItem();
        $avaiableRegionId = $region?true:false;
		// var_dump(\Zend_Json::encode($block->getCheckoutConfig()));
		// die("asdad");
        ?>
		console.log('osc');
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        window.giftOptionsConfig = <?php echo $block->getLayout()->createBlock('Magento\GiftMessage\Block\Cart\GiftOptions')->getGiftOptionsConfigJson(); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;

        window.checkoutConfig.defaultCountryId = '<?php /* @escapeNotVerified */ echo $defaultInformation['country_id']; ?>';
        window.checkoutConfig.defaultPostcode = '<?php /* @escapeNotVerified */ echo $defaultInformation['postcode']; ?>';
        var avaiableRegionId = <?php /* @escapeNotVerified */ echo $avaiableRegionId?1:0 ?>;
        if(avaiableRegionId){
            window.checkoutConfig.defaultRegionId = '<?php /* @escapeNotVerified */ echo $defaultInformation['region_id']; ?>';
        }
        else{
            window.checkoutConfig.defaultRegion = '<?php /* @escapeNotVerified */ echo $defaultInformation['region_id']; ?>';
        }
        window.checkoutConfig.defaultCity = '<?php /* @escapeNotVerified */ echo $defaultInformation['city']; ?>';
    </script>

    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader',
            'MW_Onestepcheckout/js/model/core/url-builder'
        ], function(url, blockLoader, UrlBuilder) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            UrlBuilder.baseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>