<?php
/**
 * @var \Magento\Backend\Block\Template $block
 * @var \Magento\Catalog\Helper\Output $helper
 * @var \Magento\Quote\Model\Quote $quote
 * @var \Magento\Catalog\Helper\Image $imageHelper
 * @var \Amasty\Acart\ViewModel\Email\ProductViewModel $viewModel
 * @var \Magento\Framework\Escaper $escaper
 */
// @codingStandardsIgnoreLine
$helper = $this->helper(\Magento\Catalog\Helper\Output::class);
$item = $block->getData('item');
$quote = $block->getData('quote');
$viewModel = $block->getData('viewModel');
$product = $viewModel->getProduct($item, $block->getData('showConfigurableImage'));
?>
<?php if ($block->getData('showImage')): ?>
    <?php $viewModel->initProductImageHelper($quote, $product, 'amasty_acart_items_list'); ?>
    <?php $imageHelper = $viewModel->getProductImageHelper(); ?>
    <?php if ($imageHelper->getUrl() !== $imageHelper->getDefaultPlaceholderUrl()): ?>
    <img src="<?= $escaper->escapeHtmlAttr($viewModel->prepareProductImageUrl($imageHelper->getUrl())) ?>"
         alt="<?= $escaper->escapeHtmlAttr($imageHelper->getLabel()) ?>"
         width="<?= $escaper->escapeHtmlAttr($imageHelper->getWidth()) ?>"
         height="<?= $escaper->escapeHtmlAttr($imageHelper->getHeight()) ?>"/>
    <?php endif; ?>
<?php endif; ?>
<div class="acart-title-block">
    <div class="acart-title-sku-block">
        <p class="acart-title">
            <?= /* @noEscape */ $helper->productAttribute($product, $product->getName(), 'name') ?>
        </p>
        <?php if ($block->getData('showSKU')): ?>
        <div class="acart-sku">
            <span><?= $escaper->escapeHtml(__('SKU#')) ?>:&nbsp; </span>
            <span>
                <?= /* @noEscape */ $helper->productAttribute($product, $product->getSku(), 'sku') ?>
            </span>
        </div>
        <?php endif; ?>
    </div>
    <?php if ($block->getData('showDescription')): ?>
        <div class="acart-description">
            <?= /* @noEscape */ $helper->productAttribute($product, $product->getDescription(), 'description') ?>
        </div>
    <?php endif; ?>
    <?php if ($block->getData('showOptionList') && $options = $viewModel->getProductOptions($item, $product)): ?>
        <ul class="acart-options">
        <?php foreach ($options as $option): ?>
            <?php $formatedOptionValue = $viewModel->getFormatedOptionValue($option) ?>
            <li class="acart-option">
                <?= $escaper->escapeHtml($option['label']) ?>:
                <b>
                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                        <?= /* @noEscape */ $formatedOptionValue['full_view'] ?>
                    <?php else: ?>
                        <?= /* @noEscape */ $formatedOptionValue['value'] ?>
                    <?php endif; ?>
                </b>
            </li>
        <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <?php if ($block->getData('showPrice')): ?>
    <div class="acart-price-block">
        <span class="acart-label"><?= $escaper->escapeHtml(__('Price')) ?>: </span>
        <b class="acart-value"><?= /* @noEscape */ $viewModel->getPrice($quote, $product, $block->getData('showPriceIncTax')); ?></b>
    </div>
    <?php endif; ?>
</div>
