<div if="isPaymentMethodsAvailable()"
     class="items payment-methods">
    <div repeat="foreach: paymentGroupsList, item: '$group'"
         class="payment-group">
        <!--<div if="getRegion($group().displayArea)().length"-->
        <!--translate="getGroupTitle($group)"-->
        <!--class="step-title"-->
        <!--data-role="title">-->
        <!--</div>-->
        <each args="data: getRegion($group().displayArea), as: 'method'" render=""/>
    </div>
</div>
<div ifnot="isPaymentMethodsAvailable()"
     class="no-payments-block"
     translate="'No Payment Methods'">
</div>