@import url("font-awesome.min.css");

.a-right { text-align:right; }

/*** ==== Loading box css ===== ***/

#myProgress { position: relative; width: 100%; height: 30px; background-color: #ddd; }
#myBar { position: absolute; width: 10%; height: 100%; background-color: #4CAF50; }

#label { text-align: center; line-height: 30px; color: white; }

.nav-bar::before { background-color: #d4d4d4; background-image: linear-gradient(to bottom, #d1d1d1 0%, #d4d4d4 100%); background-repeat: repeat-x;
    border-bottom: 1px solid #d9d9d9; border-top: 1px solid #bfbfbf; content: ""; height: 0.8rem; left: 5.15rem; position: absolute; right: 5.15rem; top: 0.7rem; }
.steps-export .nav-bar { float: initial; margin: 0 auto; text-align: center; width: 490px; }
.nav-bar { counter-reset: i; float: left; margin: 0 1rem 1.7rem 0; padding: 0; position: relative; white-space: nowrap; }
.steps-export .nav-bar *::after, .steps-export .nav-bar *::before { box-sizing: content-box; }
.nav-bar > li:first-child::after { display: none; }
.steps-export .nav-bar *::after, .steps-export .nav-bar *::before { box-sizing: content-box; }
.nav-bar > li::after { background-color: #514943; content: ""; height: 0.5rem; left: calc(-50% + 0.25rem); position: absolute; right: calc(50% + 0.7rem); top: 0.9rem; }
.steps-export .nav-bar > li { width: 12rem; }
.nav-bar > li { display: inline-block; font-size: 0; position: relative; vertical-align: top; width: 10.3rem; }

.steps-export .nav-bar *::after,
.steps-export .nav-bar *::before { box-sizing: content-box; }

.nav-bar a::before { background-color: #d6d6d6; border: 1px solid transparent; border-radius: 100%; content: ""; height: 2.1rem; left: 50%;
    line-height: 1; margin-left: -1.2rem; position: absolute; top: 0; width: 2.1rem; }
.nav-bar a::after { background-color: #514943; border: 4px solid #514943; border-radius: 100%; color: #ffffff; content: counter(i, decimal);
    counter-increment: i; height: 0.7rem; left: 50%; line-height: 0.6; margin-left: -0.8rem; position: absolute; right: auto; text-align: center; top: 0.4rem; width: 0.7rem; }
.steps-export .nav-bar a { text-overflow: initial; white-space: normal; }
.nav-bar a { color: #514943; display: block; font-size: 1.2rem; font-weight: 600; line-height: 1.2; overflow: hidden; padding: 3rem 0.5em 0;
    position: relative; text-align: center; text-overflow: ellipsis; }
.nav-bar > li.active a::after, .nav-bar > li.active a::after { background-color: #ffffff; content: ""; }
.steps-export { clear: both; margin-bottom: 30px; }
#export_popup1 { font-size: 1.2em; font-weight: bold; margin-top: 21px; text-align: center; }
#error_message { font-size: 1.2em; font-weight: bold; margin-top: 21px; text-align: center; }

.nav-bar > li.active ~ li::after, .nav-bar > li.active ~ li::after { display: none; }
#loading-icon { font-size: 1.2em; font-weight: bold; margin-top: 21px; text-align: center; }
#processicon{ margin-left:550px; }
#cat-processicon{ margin-left:400px; }


/*** ==== MApping css ===== ***/
.category-mapping .mapping { padding:3px; margin:2px; position:relative; background:#f5f5f5; border:1px solid #ddd; }
.category-mapping .mapping:after { content:""; display:block; clear:both; height:0; }

.category-mapping .mapping.level-1 { margin-left:0; }
.category-mapping .mapping.level-2 { margin-left:15px; }
.category-mapping .mapping.level-3 { margin-left:30px; }
.category-mapping .mapping.level-4 { margin-left:45px; }
.category-mapping .mapping.level-5 { margin-left:60px; }
.category-mapping .mapping.level-6 { margin-left:75px; }
.category-mapping .mapping.level-7 { margin-left:90px; }
.category-mapping .mapping.level-8 { margin-left:105px; }

.category-mapping .mapping .name { float:left; width:55%; overflow:hidden; line-height:20px; white-space:nowrap; padding-left:25px; }

.category-mapping .mapping .toggle { color:#666; font-size:15px; font-family:"FontAwesome"; height:18px; width:16px; text-align:center; cursor: pointer;
    position:absolute; top:3px; left:5px; }
.category-mapping .mapping .toggle.open:before { content:"\f0fe"; }
.category-mapping .mapping .toggle.close:before { content:"\f146"; color:#999; }
.category-mapping .mapping .toggle.empty { cursor: default; }

.category-mapping .mapping .map { float:right; width:45%; padding-left:15px; }
.category-mapping .mapping .map input { color:#2f2f2f; font-size: 12px; width:100%; padding:2px 3px; background-color:#f9f9f9; border:1px solid #ddd; }
.category-mapping .mapping .map input:hover,
.category-mapping .mapping .map input:focus { background:#fff; border-color:#ccc; }
/*------------------------------------------------------*/

td.dragRow { color:#b8b7b7; cursor:move; }
.value-setting, .icoBtn, .dragRow .fa { font-size:20px; cursor:pointer; }

button.icoBtn { padding:3px; background:none; border:0 none; }

.data-grid tr td { border-bottom:1px solid #d6d6d6; }
.data-grid td.icons { text-align:center; vertical-align:middle; }
.data-grid tr:nth-child(odd) td {  }
.data-grid input, .data-grid select, .data-grid textarea { box-sizing:border-box; }
.data-grid tfoot tr td { background-color:#f5f5f5; }


#item_conditions_fieldset .field-conditions .admin__field-label,
#magebees_productfeed_feed_edit_tabs_categories_section_content .admin__field-label { display:none; }
#item_conditions_fieldset .field-content .admin__field-control,
#item_conditions_fieldset .field-conditions .admin__field-control,
#magebees_productfeed_feed_edit_tabs_categories_section_content .admin__field-control { width:100%; padding-right: 30px; }


.magebees-productfeed-feed-index ul.dropdown-menu { max-height:450px; overflow:auto; }
#amfeed_xml .admin__field.field.field-title {margin-left: -150px !important;}

