<!--
  ~ /**
  ~  Copyright © 2016 MW. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<!-- ko if: isShowComment() -->
<div class="onestepcheckout-comment">
    <label for="onestepcheckout_comment"><span><span>Comments</span></span></label>
    <textarea col="15" name="billing[onestepcheckout_comment]" id="onestepcheckout_comment"
              class="osc-additional-data" data-bind="attr: {placeholder: $t('Leave your comment')}"></textarea>
</div>
<!-- /ko -->