<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\DebugCheck;

/**
 * @see \Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\DebugCheck
 * @var DebugCheck $block
 */
?>
<div id="mm-result_debug-modal" data-mm-endpoind-url="<?= $block->escapeUrl($block->getDebugCheckUrl()) ?>">
    <div id="mm-result_debug">
        <div class="result"></div>
    </div>
</div>
<?= $block->getButtonHtml() ?>

