<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\ErrorCheck;

/**
 * @see \Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\ErrorCheck
 * @var ErrorCheck $block
 */
?>
<div id="mm-result_error-modal" data-mm-endpoind-url="<?= $block->escapeUrl($block->getErrorCheckUrl()) ?>">
    <div id="mm-result_error">
        <div class="result"></div>
    </div>
</div>
<?= $block->getButtonHtml() ?>
