<?php
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\Selftest;

/**
 * @see \Magmodules\RichSnippets\Block\Adminhtml\System\Config\Button\Selftest
 * @var Selftest $block
 */
?>
<div id="mm-result_test-modal" data-mm-endpoind-url="<?= $block->escapeUrl($block->getSelftestUrl()) ?>">
    <div id="mm-result_test">
        <ul class="result"></ul>
    </div>
</div>
