<script id="promotion-bar-template" type="text/x-magento-template">
    <div class="wrapper-promotion-bar" style="<%- data.style %>">
        <div class="item-promotion-bar"><%= data.content %></div>
    </div>
</script>
<script type="text/x-magento-init">
    {
    "*":
        {
            "HTCMage_PromotionBar/js/displaybar": {
                "url": "<?= $block->urlUpdate(); ?>",
                "page": "<?= $block->isPage(); ?>",
                "category": "<?= $block->isCategory(); ?>",
                "product": "<?= $block->isProduct(); ?>"
            }
        }
    }


</script>
